@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dillon's Joke Application</h1>
    <p>This website was build for training purposes, thank you freeCodeCamp! <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg&t=4s&ab_channel=freeCodeCamp.org">Link Here</a>.</p>
</div>
